<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Login</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>

<body class="d-flex justify-content-center align-items-center min-vh-100 ">
  <div class="text-center">

    <h3 class="mb-3">Kirjautuminen</h3>

    <form th:action="@{/login}" method="post" class="mt-3 mb-3">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
      <div class="mb-2">
        <input placeholder="käyttäjätunnus" type="text" name="username" required />
      </div>

      <div class="mb-3">
        <input placeholder="salasana" type="password" name="password" required />
      </div>

      <div>
        <button type="submit" class="btn btn-primary w-100">Kirjaudu</button>
      </div>
    </form>
  </div>

</body>

</html>